<!doctype html>
<title>PORQUE QA</title>
<link rel="stylesheet" href="static/water.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if not answer %}
<img src="static/porque.svg" style="max-height: 6em;" alt="PORQUE"/>
<form method="POST">
  <p>
    <label for="query">Question</label>
    <textarea name="query" id="query">Welche sind den buchstabe des bundesministerium dass fur ökologischen weggefallen stehen?</textarea>
  </p>
  <p>
    <label for="service">Service</label>
    <select name="service" id="service">
      <option value="neamt">LFQA</option>
      <option value="poolparty">poolparty</option>
    </select>
  </p>
  <fieldset id="neamt_options">
    <legend>Options for neamt</legend>
    <label>Components
      <input name="neamt_components" value="babelscape_ner, mgenre_el, opus_mt"/>
    </label>
      <label>QA System
      <select name="qa_system_id">{% for k in lfqa_systems.keys() %}<option value="{{ k }}">{{ k }}</option>{% endfor %}</select>
    </label>
  </fieldset>
  <fieldset id="poolparty_options">
    <legend>Options for poolparty</legend>
    <label>Project
      <select name="poolparty_project_id">{% for p in poolparty_projects %}<option value="{{ p }}">{{ p }}</option>{% endfor %}</select>
    </label>
    <label>Language
      <select name="poolparty_lang"><option>en</option><option>de</option></select>
    </label>
    <label>Number of documents
      <input name="poolparty_numdocs" type="number" value="5"/>
    </label>
  </fieldset>
  <input type="submit"/>
</form>
{% endif %}
{% if answer %}
<p>{{answer}}</p>
<details>
  <pre>
{{json}}</pre>
</details>
{% endif %}
<script>
  const service = document.querySelector('[name=service]');
  function serviceChange() {
      document.querySelectorAll('fieldset').forEach(el => el.style.display = 'none');
      document.getElementById(service.value + '_options').style.display = '';
  }
  addEventListener('load', () => setTimeout(serviceChange));
  service.addEventListener('change', serviceChange);
</script>
