<!doctype html>
<title>PORQUE QA</title>
<link rel="stylesheet" href="static/water.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if not answer %}
<a href="https://www.porque-project.eu"><img src="static/porque.svg" style="max-height: 6em;" alt="PORQUE"/></a>
<form method="POST">
  <p>
    <label for="query">Question / Input text</label>
    <textarea name="query" id="query">Wo ist der Geburtsort von Angela Merkel?</textarea>
  </p>
  <p>
    <label for="service">Service</label>
    <select name="service" id="service">
      <option value="lfqa">LFQA (Multilingual QA - UPB UC)</option>
      <option value="poolparty">poolparty (Multilingual Hybrid-QA - SWC UC)</option>
      <option value="neamt">NEAMT (Machine Translation)</option>
      <option value="mst5">MST5 (Multilingual QA - UPB UC)</option>
    </select>
  </p>
  <fieldset id="lfqa_options">
    <legend>Options for LFQA</legend>
    <label>Input Language
      <select name="lfqa_lang_id" style="min-width: 113px;">{% for k in porque_langs.keys() %}<option value="{{ k }}">{{ porque_langs[k] }}</option>{% endfor %}</select>
    </label>
    <label>NEAMT Components 
      <a href="https://github.com/dice-group/LFQA/tree/main/naive-eamt#na%C3%AFve-eamt-na%C3%AFve-entity-aware-machine-translation-framework" target="_blank" title="List of available components" >
        <svg width="17" height="17" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m0 0h24v24h-24z" fill="#0076d1" opacity="0" transform="matrix(-1 0 0 -1 24 24)"/><path d="m12 2a10 10 0 1 0 10 10 10 10 0 0 0 -10-10zm0 16a1 1 0 1 1 1-1 1 1 0 0 1 -1 1zm1-5.16v1.16a1 1 0 0 1 -2 0v-2a1 1 0 0 1 1-1 1.5 1.5 0 1 0 -1.5-1.5 1 1 0 0 1 -2 0 3.5 3.5 0 1 1 4.5 3.34z" fill="#0076d1"/></svg>
      </a>
      <input name="lfqa_neamt_components" value="babelscape_ner, mgenre_el, opus_mt"/>
    </label>
    <label>QA system
      <select name="lfqa_qa_system_id">{% for k in lfqa_systems.keys() %}<option value="{{ k }}">{{ k }}</option>{% endfor %}</select>
    </label>
    <br>
    <small class="red-small-text">Note: Response from MST5 will be slow since its deployed on hardware with only 4 cpu cores.</small>
  </fieldset>

  <fieldset id="neamt_options">
    <legend>Options for NEAMT</legend>
    <label>Input Language
      <select name="neamt_lang_id" style="min-width: 113px;">{% for k in porque_langs.keys() %}<option value="{{ k }}">{{ porque_langs[k] }}</option>{% endfor %}</select>
    </label>
    <label>NEAMT Components
      <a href="https://github.com/dice-group/LFQA/tree/main/naive-eamt#na%C3%AFve-eamt-na%C3%AFve-entity-aware-machine-translation-framework" target="_blank" title="List of available components">
        <i class="fa fa-question-circle"></i>
      </a>
      <input name="neamt_neamt_components" value="babelscape_ner, mgenre_el, opus_mt"/>
    </label>
  </fieldset>

  <fieldset id="mst5_options">
    
    <legend>Options for MST5</legend>
    
    <label>Input Language
      <select name="mst5_lang_id" style="min-width: 113px;">{% for k in porque_langs.keys() %}<option value="{{ k }}">{{ porque_langs[k] }}</option>{% endfor %}</select>
    </label>
    <label>SPARQL Endpoint
      <select name="mst5_sparql_endpoint_id">{% for k in sparql_endpoints.keys() %}<option value="{{ k }}">{{ sparql_endpoints[k]['label'] }}</option>{% endfor %}</select>
    </label>
    <br>
    <small class="red-small-text">Note: Response from MST5 will be slow since its deployed on hardware with only 4 cpu cores.</small>
  </fieldset>

  <fieldset id="poolparty_options">
    <legend>Options for poolparty</legend>
    <label>Project
      <select name="poolparty_project_id">{% for p in poolparty_projects %}<option value="{{ p }}">{{ p }}</option>{% endfor %}</select>
    </label>
    <label>Language
      <select name="poolparty_lang"><option>en</option><option>de</option></select>
    </label>
    <label>Number of documents
      <input name="poolparty_numdocs" type="number" value="5"/>
    </label>
  </fieldset>
  <input type="submit"/>
</form>
{% endif %}
{% if answer %}
<p>{{answer}}</p>
<details>
  <pre>
{{json}}</pre>
</details>
{% endif %}
<script>
  const service = document.querySelector('[name=service]');
  function serviceChange() {
      document.querySelectorAll('fieldset').forEach(el => el.style.display = 'none');
      document.getElementById(service.value + '_options').style.display = '';
  }
  addEventListener('load', () => setTimeout(serviceChange));
  service.addEventListener('change', serviceChange);
</script>
